
/******************************************
/* LAYOUT
/*******************************************/


body *{
    font-family: sans-serif;
    text-align: center;
  }
  
header, footer{
    color: white;
    background-color:black;
    height:auto;
}

.broccolito{
  font-family: fantasy;
  color: green;
  font-size: xx-large;
}

.mail{
    filter: sepia(100%);
  }
  img:hover,
  img:focus {
    filter: none;
  }
        
.strong{
  color: red;
  background: white;
}

main{
    background-image:
    url("pexels-kalistro-1327867553-25785792.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    color: white;
     
}

@media(max-with: 768px){
  .bodyimgy{
    min-height: 50vh;
  }
  .bodyimg{
    font-size: calc(1.525rem + 3.3vw);
  }
}

a{
text-decoration: none;
color: white;

}

h2{
    padding-top: 5%;
}
.p0,.p1{ 
width: 30%;
padding-left: 35%;
color: rgba(241, 207, 207, 0.885);
}

.p2{
width: 40%;
padding-left: 30%;
color: rgba(241, 207, 207, 0.885);
}

ul{
 list-style: none;
}

 .countries{
    display: flex;
    flex-direction: column;
}

      .boxes{
        margin-top:2px;
        width: 20em;
        height: 4ex;
        background-color: rgb(11, 102, 28);
        border: 2px solid firebrick;
        border-radius: 10px;
        font-weight: bold;
        color: black;
        cursor: pointer;
        padding-top: 10px; 
      }

      .countries{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      @media (any-hover: hover) {
        .boxes:hover {
          background: rgb(19, 52, 1);
        }
      }

      .p2{
        color: rgba(241, 207, 207, 0.885);;
      }

      .order{
        background-color: rgb(183, 244, 194);
        border: 2px solid rgb(232, 174, 15);
        border-radius: 5px;
        color: black;
        cursor: pointer;
        margin-left: 2%;
      }
      
      @media (any-hover: hover) {
        .order:hover {
          background: rgb(19, 52, 1);
        }
      }
      
      